@font-face {
    font-family: 'EBGaramond';
    src: url('fonts/EBGaramond-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Qwigley';
    src: url('fonts/Qwigley-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Helvetica';
    src: url('fonts/helvetica.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Helvetica';
    src: url('fonts/helvetica-italics.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica';
    src: url('fonts/helvetica-light-italics.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica';
    src: url('fonts/helvetica-light.otf') format('OpenType');
    font-weight: 300;
}

@font-face {
    font-family: 'Helvetica';
    src: url('fonts/helvetica-bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Mahalia';
    src: url('fonts/mahalia-regular.ttf') format('truetype');
    font-weight: 400;
}

:root {
    --h1: 95px;
    --h2: 76px;
    --h3: 61px;
    --h4: 31px;
    --h5: 20px;
    --h6: 20px;
    --p1: 20px;
    --p2: 16px;
    --p3: 13px;

    --container-spacing-vertical: 64px;
    --container-width: 80vw;
    --container-spacing-horizontal: 10vw;
    --container-width-2: 90vw;
    --container-spacing-horizontal-2: 5vw;

    --container-max-width: 1280px;

    --cards-border-radius: 16px;

    --card-food-width: calc((var(--container-width)*0.9)/6);
    --card-food-gap: calc((var(--container-width)*0.1)/5);
    --card-reviews-width: calc((var(--container-width)*0.95)/4);
    --card-reviews-gap: calc((var(--container-width)*0.05)/3);

    --card-menu-page-width: calc((var(--container-width)*0.9)/4);
    --card-menu-page-gap: calc((var(--container-width)*0.1)/3);

    --masonry-gap: calc((var(--container-width)*0.1)/4);
    --masonry-brick-width: calc((var(--container-width)*0.9)/5);


    --font-1: 'Helvetica';
    --font-2: 'EBGaramond';
    --font-3: 'Qwigley';

    --nav-bar-colour: 60, 129, 141;
    --nav-bar-btn-colour: rgba(0, 0, 0, 0.2);
    --nav-bar-type-colour: white;
    --nav-bar-height: 64px;
    --primary-colour: #F0ECE1;
    --secondary-colour: #C68B05;
    --secondary-colour-hover: #E3A70A;
    --secondary-accent-colour: #3C818D;
    --secondary-accent-colour-hover: #4D98A5;
    --white: #ffffff;
    --black: #000000;
    --font-white: #ffffff;
    --font-black: #000000;
    --translucent: rgba(0, 0, 0, 0.25);

}

html,
body {
    overscroll-behavior-x: none;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    /* Enable smooth scrolling for iOS */
    scroll-behavior: smooth;
    /* Optional: Smooth scrolling */
}

body {
    color: var(--font-black);
    overflow: visible;
    font-family: var(--font-1), sans-serif;
    background-color: var(--white);
    margin: 0;
    padding: 0;

}

a {
    text-decoration: none;
    color: var(--font-black);
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:focus {
    text-decoration: none;
}

a:hover,
a:active {
    text-decoration: none;
}

h1 {
    padding: 0;
    margin: 0;
    line-height: 0.9;
    font-family: var(--font-2);
    font-weight: 400;
    font-size: var(--h1);
    text-align: center;
}

h2 {
    padding: 0;
    margin: 0;
    font-family: var(--font-2);
    font-weight: 400;
    font-size: var(--h2);
}

h3 {
    padding: 0;
    margin: 0;
    color: var(--secondary-accent-colour);
    line-height: 0.9;
    font-family: var(--font-3);
    font-weight: 400;
    font-size: var(--h3);
}

h4 {
    padding: 0;
    margin: 0 0 4px 0;
    font-family: var(--font-2);
    font-weight: 400;
    font-size: var(--h4);
}

h5 {
    padding: 0;
    margin: 0;
    font-family: var(--font-1);
    font-weight: 700;
    font-size: var(--h5);
}

h6 {
    padding: 0;
    margin: 0;
    font-family: var(--font-1);
    font-weight: 400;
    font-size: var(--h6);
    color: var(--secondary-colour);
}

p {
    padding: 0;
    margin: 0;
}

.h1-coloured {
    color: var(--font-black);
}

.section-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    background-color: var(--primary-colour);



}

.container-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: var(--container-width-2);
    max-width: var(--container-max-width);
    height: 100%;
    padding: 48px var(--container-spacing-horizontal-2);
    gap: 56px;

    visibility: hidden;


}

.columns-hero {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 340px auto;
    align-items: center;
    width: var(--container-width);
    max-width: var(--container-max-width);
    height: 100%;
    padding: 0 auto;
}

.column-hero-left {
    grid-column-start: 1;
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to right, var(--primary-colour) 50%, black 50%);
    border-radius: 20px;
    background-size: 200% 100%;
}

.background-animation {
    animation: background-load 1.2s cubic-bezier(0.19, 1, 0.22, 1) forwards;
}

@keyframes background-load {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -100% 0;
    }
}

.column-hero-left img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: bottom;
    border-radius: 20px;
    animation: image-load 1s forwards 0.3s;
    /* Starts after background animation */
    clip-path: inset(0 100% 0 0);
}

@keyframes image-load {
    from {
        clip-path: inset(0 100% 0 0);
    }

    to {
        clip-path: inset(0 0 0 0);
    }
}

.column-hero-right {
    grid-column-start: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    gap: 20px;
    margin-left: 10%;
}

.column-hero-right-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0;
}


.hero-p {
    font-size: var(--p1);
}

.button-CTA {
    font-size: var(--p1);
    padding: 16px 32px;
    width: fit-content;
    height: fit-content;
    border-radius: 48px;
    background-color: var(--secondary-colour);
    color: var(--font-white);
    border: 0px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.button-CTA:active {
    transform: scale(0.98);
}

.button-CTA:hover {
    background-color: var(--secondary-colour-hover);
}


.section-about {
    color: var(--font-black);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
}

.container-about {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: var(--container-width);
    height: 100%;
    padding: calc(var(--container-spacing-vertical) - 28px) var(--container-spacing-horizontal-2) var(--container-spacing-vertical) var(--container-spacing-horizontal-2);
    gap: 28px;
}

.headings-about-section {
    display: flex;
    flex-direction: column;
    gap: 0;
    text-align: center;
    line-height: 0.9;
}


.container-about p {
    width: 100%;
    max-width: 600px;
    text-align: center;
}

.container-about h2 {
    width: 100%;
    max-width: 450px;
    text-align: center;
}



.about-image {

    aspect-ratio: 21 / 9;
    width: 100%;
    max-width: 600px;
    border-radius: var(--cards-border-radius);
    object-fit: cover;
    object-position: center center;
}

.section-cards {
    display: flex;
    flex-direction: column;
    gap: 64px;
    background-color: var(--primary-colour);
    padding: var(--container-spacing-vertical) 0;


}

.container-cards {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    overflow: visible;
    gap: 36px;
}

#container-food {
    display: none;
    align-items: center;
}

.headings-cards-section {
    display: flex;
    flex-direction: column;
    gap: 0;
    text-align: center;
    line-height: 0.9;
    width: 100%;
    max-width: 600px;
}

.menu-btns {
    display: flex;
    flex-direction: row;
    gap: 78px;
}

.description-menu {
    width: 100%;
    text-align: center;
    margin-top: 16px;
    margin-bottom: -36px;
}


.cards-nav {
    margin: 0 var(--container-spacing-horizontal);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cards-btns {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;

}

.slider-btns {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
}

.slider-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    background-color: var(--translucent);
    border: 2px solid rgba(255, 255, 255, 0.3);
    color: rgba(255, 255, 255, 0.6);
    font-size: 24px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;

}

.slider-btn:hover {
    background-color: rgba(255, 255, 255, 0.15);
}

.slider-btn:active {
    background-color: rgba(255, 255, 255, 0.3);
}

.slider {
    display: flex;
    flex-direction: row;
    scroll-behavior: smooth;
    transition: all 0.25s ease-in;
    scroll-snap-type: x mandatory;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;

    overflow-x: auto;
    scrollbar-width: none;
    /*
    padding: 24px 0px;
    */
}

.slider::-webkit-scrollbar {
    display: none;
}


.card-food {
    position: relative;
    display: flex;
    flex-direction: column;
    width: var(--card-food-width);
    flex-grow: 0;
    flex-shrink: 0;
    border-radius: var(--cards-border-radius);
    background-color: var(--white);
    box-sizing: border-box;
    transition: transform 0.2s ease;

}


.card-food:hover {
    transform: scale(1.02);
}

.image-food {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 4/3;
    border-radius: var(--cards-border-radius);
}

.text-food {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 16px 12px;
    text-align: right;
    gap: 4px;
    box-sizing: border-box;

}

.food-name-description {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    overflow-wrap: break-word;
    font-size: var(--p2);
    text-align: left;

}

.card-food-out-of-stock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -35%) rotate(-20deg);
    transform-origin: center;
    background-color: #ff4d4d;
    color: white;
    font-size: var(--h5);
    font-weight: bold;
    padding: 4px 8px;
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
    letter-spacing: 1px;
    white-space: nowrap;

}

#slider-reviews {
    gap: var(--card-reviews-gap);
}

#cards-spacer-reviews {
    width: calc(((100% - var(--container-width))/2) - var(--card-reviews-gap));
    height: 50px;
    flex-grow: 0;
    flex-shrink: 0;
    scroll-snap-align: start;
}

.card-review {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: var(--card-reviews-width);
    flex-grow: 0;
    flex-shrink: 0;
    border-radius: var(--cards-border-radius);
    background-color: var(--white);
    border: 2px solid rgba(255, 255, 255, 0);

    gap: 16px;
    padding: 20px 16px;
    box-sizing: border-box;

    scroll-snap-align: start;
    scroll-margin-left: var(--container-spacing-horizontal);
    transition: all 0.2s ease;

}

.card-review:hover {
    border-color: var(--secondary-colour);
}

.info-review {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
    width: 100%;
}

.image-reviewer {
    width: 48px;
    object-fit: cover;
    aspect-ratio: 1/1;
    border-radius: 100%;
    object-position: center;
}

.text-review {
    padding: 0;
    margin: 0;
    font-family: var(--font-1);
    font-weight: 400;
    font-size: var(--p2);
    width: 100%;
}

.text-review-source {
    padding: 0;
    margin: 0;
    margin-top: -4px;
    font-family: var(--font-1);
    font-weight: 400;
    font-style: italic;
    font-size: var(--p3);
    width: 100%;
}

/*----------------------------------------------------------------------------------------------------*/

.container-gallery {
    display: flex;
    flex-direction: column;
    overflow: visible;
    gap: 36px;
    align-items: center;
    width: 100%;
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--card-food-gap);
    align-items: center;
    justify-content: center;
    width: var(--container-width);
    max-width: var(--container-max-width);

}

.gallery img:nth-child(n+13) {
    display: none;
}

.gallery img {
    width: var(--card-food-width);
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
    border-radius: var(--cards-border-radius);
    cursor: pointer;
    transition: transform 0.2s;

}

.gallery img:hover {
    transform: scale(1.05);
}

/*----------------------------------------------------------------------------------------------------*/
.lightbox-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 10;

}

.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    z-index: 11;

}

.lightbox-image-and-btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: var(--container-width-2);
    max-width: 1024px;
    min-height: 50vh;
    max-height: 80vh;
    gap: 8px;
}

.lightbox-image-and-caption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    gap: 16px;
}

.lightbox img {
    max-width: 100%;
    max-height: 90%;
    object-fit: contain;
}

.caption {
    color: var(--font-white);
    font-size: var(--h5);
    text-align: center;
}

.lightbox-nav-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 64px;
    height: 64px;
    background-color: var(--translucent);
    border: 2px solid rgba(255, 255, 255, 0.3);
    color: rgba(255, 255, 255, 0.6);
    font-size: 24px;
    border-radius: 32px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;

}

.lightbox-nav-btn:hover {
    background-color: rgba(255, 255, 255, 0.15);
}

.lightbox-nav-btn:active {
    background-color: rgba(255, 255, 255, 0.3);
}

.close-button {
    position: sticky;
    top: 20px;
    margin-bottom: -16px;
    width: var(--container-width);
    max-width: var(--container-max-width);
    text-align: right;
    font-size: 36px;
    color: var(--white);
    cursor: pointer;
    z-index: 13;
    user-select: none;
}

/* Thumbnails bar */
.thumbnail-bar {
    display: flex;
    overflow-x: auto;
    padding: 8px 16px;
    gap: 8px;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;

    position: sticky;
    position: -webkit-sticky;
    bottom: 16px;
    z-index: 12;

}



.thumbnail-bar img {
    width: fit-content;
    height: 60px;
    cursor: pointer;
    opacity: 0.6;
    transition: transform 0.3s ease, opacity 0.3s ease;
    border: 2px solid rgba(255, 255, 255, 0);

}

.thumbnail-bar img.active {
    opacity: 1;
    transform: scale(1.1);
    border: 2px solid white;
    border-radius: 5px;
}

/*----------------------------------------------------------------------------------------------------*/
.container-menu-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.container-menu-time-cards {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: var(--container-width);
    max-width: var(--container-max-width);
    gap: var(--card-food-gap);
}

#card-feature-food:nth-child(n+13) {
    display: none;
}


.container-menu-time-cards.hidden {
    display: none;
}

.container-menu-time-cards.visible {
    display: flex;
}

.menu-btn {
    background-color: rgba(255, 0, 0, 0);
    border: 0;
    padding: 20px 40px;
    margin: -20px -40px;
    transition: all 0.2s linear;
    cursor: pointer;

    font-family: var(--font-2);
    font-weight: 400;
    font-size: var(--h4);

    color: var(--black);
    -webkit-tap-highlight-color: transparent;
}

.menu-btn:hover {
    color: var(--secondary-colour-hover);
}

.menu-btn.active {
    color: var(--secondary-colour);
}

.menu-card.hidden {
    display: none;
}

/*----------------------------------------------------------------------------------------------------*/

.section-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
    color: var(--font-black);
    width: 100%;
}

.container-footer {
    visibility: hidden;
    display: flex;
    max-width: var(--container-max-width);
    padding: var(--container-spacing-vertical) 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 28px;

}

.columns-footer-top-row {
    width: var(--container-width-2);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;


}

.column-footer-top-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    gap: 16px;
}

.column-info {
    display: flex;
    flex-direction: column;
    padding: 16px 0 0 0;
    gap: 8px;
}

.p-location {
    line-height: 1.6;
}

.p-hours {
    line-height: 1.5;
}

.p-contact {
    line-height: 2.1;
    overflow-wrap: break-word;
}

.svg {
    min-width: 64px;
    width: 64px;
    height: 64px;
    fill: var(--secondary-accent-colour);
}

.svg-clock {
    min-width: 64px;
    width: 64px;
    height: 64px;
    fill: var(--secondary-accent-colour);
}

.hidden {
    display: none;
}

.columns-footer-bottom-row {
    width: var(--container-width-2);
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;


}

.column-footer-bottom-row {
    display: flex;
    flex-direction: column;
    padding: 16px 0 0 0;
    gap: 8px;
    align-items: center;
    text-align: center;
    width: 100%;

}

.column-footer-bottom-row p {
    width: 50%;
}

.social-media-links {
    display: flex;
    flex-direction: row;
    gap: 16px;
}


.svg-social-media {
    fill: var(--font-black);
    width: 50px;
    height: 50px;
}

.social-media-a-tag {
    transition: all 0.25s ease;
}

.social-media-a-tag:hover {
    transform: scale(1.1);
}

.social-media-a-tag:hover .svg-social-media {
    fill: var(--secondary-colour-hover);
}

.svg-delivery-apps {
    width: 160px;
    height: 40px;
    fill: var(--font-black);
}

.delivery-a-tag {
    transition: all 0.25s ease;
}

.delivery-a-tag:hover {
    transform: scale(1.1);
}

.map {
    width: var(--container-width);
    max-width: var(--container-max-width);
    height: 300px;
}

/*----------------------------------------------------------------------------------------------------*/
.masonry {
    column-gap: var(--masonry-gap);
    column-fill: initial;
    column-width: var(--masonry-brick-width);
    max-width: var(--container-max-width);
}

.masonry>* {
    break-inside: avoid;
    margin-bottom: var(--masonry-gap);
}

@supports(grid-template-rows: masonry) {
    .masonry {
        display: grid;
        gap: var(--masonry-gap);
        grid-template-rows: masonry;
        grid-template-columns: repeat(auto-fill, minmax(var(--masonry-brick-width), 1fr));
        align-tracks: stretch;
    }

    .masonry>* {
        margin-bottom: initial;
    }
}

/* some styling not important */
.masonry {
    width: var(--container-width);
    max-width: var(--container-max-width);
}


.brick {
    width: 100%;
    color: white;
    border-radius: var(--cards-border-radius);
    width: var(--masonry-brick-width);
    cursor: pointer;
    transition: all 0.2s;
}

.brick:hover {
    transform: scale(1.05);

}

/*----------------------------------------------------------------------------------------------------*/

.section-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-colour);
    width: 100%;
}

.container-menu-page {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin: var(--container-spacing-vertical) 0;
    align-items: center;
    width: 100%;
}

.container-menu {
    width: var(--container-width);
    margin-top: -20px;
    max-width: var(--container-max-width);
    min-height: 100vh;
}

.header-menu {
    display: flex;
    flex-direction: column;
    gap: 28px;
    align-items: center;

}

.heading-menu-category {
    font-family: var(--font-2);
    color: var(--font-black);
}

#cards-menu-page {
    width: var(--card-menu-page-width);
}

.container-menu-page-time-cards {
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.container-menu-page-time-cards.hidden {
    display: none;
}

.container-menu-page-time-cards.visible {
    display: flex;
}

.container-category {
    display: flex;
    flex-direction: column;
    gap: 28px;
}


.container-category-cards {
    display: flex;

    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--card-menu-page-gap);
}

/*----------------------------------------------------------------------------------------------------*/

.section-contact {
    background-color: var(--primary-colour);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 0px;
    margin: 0;
    padding: 0;
}

.section-contact h2 {
    text-align: left;
    width: 100%;
}

.container-contact-form {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: var(--container-width);
    max-width: var(--container-max-width);
    height: 100%;
    padding: var(--container-spacing-vertical) 0;
    gap: 8px;
}


.columns-contact {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 440px auto;
    align-items: center;
    width: var(--container-width);
    max-width: var(--container-max-width);
    height: 100%;
}

.column-contact-left {
    grid-column-start: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    gap: 20px;
    margin-right: 10%;

}

.column-contact-right {
    grid-column-start: 2;
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, var(--primary-colour) 50%, black 50%);
    border-radius: 20px;
    background-size: 200% 100%;
}


.column-contact-right img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: bottom;
    border-radius: 20px;
    animation: image-load 1s forwards 0.3s;
    /* Starts after background animation */
    clip-path: inset(0 100% 0 0);
}

/* Form Styling */
.form-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-contact label {
    width: 100%;
    text-align: left;
    font-weight: bold;
    margin-bottom: 4px;
    color: #555;
}

.form-contact textarea {
    height: 88px;
    resize: none;
}

.form-contact input,
.form-contact textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: var(--p2);
    font-family: var(--font-1);
    transition: border-color 0.3s;
}

.form-contact input:focus,
.form-contact textarea:focus {
    border-color: var(--secondary-colour-hover);
    outline: none;
}

/*---------------------------------------------*/
header {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .3);
    position: sticky;
    background-color: var(--secondary-accent-colour);
    position: -webkit-sticky;
    top: 0;
    width: 100%;
    z-index: 8;
    height: fit-content;
    /* Ensure the header stays above other elements */

}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
    padding: 4px 20px;
    background-color: rgb(var(--nav-bar-colour));
    color: var(--nav-bar-type-colour);
    height: fit-content;
    box-sizing: border-box;

    visibility: hidden;
}

.logo a {
    font-family: 'Mahalia';
    font-size: var(--h4);
    color: var(--nav-bar-type-colour);
    margin: 0;
    padding: 0;
}

.nav-links {

    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: var(--p2);


}

.nav-link {
    border: 0;
    padding: 20px 28px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.nav-link a {
    transition: all 0.2s ease-in-out;
    color: var(--nav-bar-type-colour);
}

.nav-link:hover a {
    color: var(--secondary-colour-hover);
}

#nav-CTA-btn {
    font-size: var(--p2);
    background-color: var(--nav-bar-btn-colour);
    margin-left: 8px;
}

#nav-CTA-btn:active {
    transform: scale(0.98);
}

#nav-CTA-btn:hover {
    background-color: var(--secondary-colour-hover);
    color: white;
}




/* Hide the mobile menu by default */
.mobile-menu {
    position: fixed;
    top: 0;
    right: -100%;
    /* Hidden off-screen */
    width: 250px;
    height: 100vh;
    background-color: rgba(var(--nav-bar-colour), 0.8);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    transition: right 0.4s ease;
    z-index: 9;
    /* Below the hamburger button */
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.mobile-menu.active {
    right: 0;
}

.mobile-menu ul {
    list-style: none;
    padding: 0;
}

.mobile-menu ul li {
    margin: 20px 0;

}

.mobile-menu ul li a {
    color: var(--font-white);
    text-decoration: none;
    font-size: var(--h4);
}

.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    cursor: pointer;
    z-index: 10;
    height: 24px;
    top: calc((var(--nav-bar-height)-24px)/2);
    /* Adjust the top value as needed */
    right: 20px;
    /* Adjust the right value as needed */
}

.hamburger span {
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--white);
    transition: transform 0.4s ease, opacity 0.4s ease;
}


#modal-mobile {
    height: auto;
    width: 100%;
    background-color: var(--secondary-accent-colour);

    position: fixed;
    bottom: calc(var(--cards-border-radius)*-1);
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 13;

    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 20px;
    color: var(--font-white);
    padding: 36px var(--container-spacing-horizontal) calc(12px + calc(var(--cards-border-radius))) var(--container-spacing-horizontal);
    box-sizing: border-box;
    border-radius: var(--cards-border-radius);
}



.modal-text-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    gap: 12px;
}

#modal-close-button-mobile {
    position: absolute;
    top: 4px;
    right: 12px;
    font-size: 36px;
    cursor: pointer;
    z-index: 14;
}

.modal-h3-mobile {
    text-align: center;
    font-weight: 300;
    width: 100%;
    font-size: 24px;
    color: var(--font-white);
    font-family: 'Helvetica';
    font-weight: 300;
}

.modal-h3-mobile-colored {
    color: var(--secondary-colour-hover);
}

.modal-p-mobile {
    text-align: center;
    font-family: 'EBGaramond';
    font-size: 16px;
    width: 100%;
}

.form-modal-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.form-modal-mobile-input {
    width: 100%;
    max-width: 600px;
    padding: 16px 20px;
    border: 0px;
    border-radius: var(--cards-border-radius);
    font-size: 16px;
    font-family: var(--font-2);
    color: var(--secondary-accent-colour);
    transition: border-color 0.3s;
    box-sizing: border-box;
}

.form-modal-mobile input:focus {
    outline: none;
}

.subscribe-btn-and-text-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.text-unsubscribe-mobile {
    font-family: var(--font-1);
    font-size: 14px;
    text-align: center;
}


.modal-button-CTA-mobile {
    font-size: var(--p1);
    padding: 12px 32px;
    width: 220px;
    height: fit-content;
    border-radius: 48px;
    background-color: var(--secondary-colour);
    color: var(--font-white);
    border: 0px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}


.modal-button-CTA-mobile:active {
    transform: scale(0.98);
}

.modal-button-CTA-mobile:hover {
    background-color: var(--secondary-colour-hover);
}

.form-modal-footer-input {
    width: 80%;
    max-width: 400px;
    padding: 16px 20px;
    border: 1px solid var(--secondary-accent-colour);
    border-radius: var(--cards-border-radius);
    font-size: 16px;
    color: var(--font-black);
    transition: border-color 0.3s;
    box-sizing: border-box;
}

.modal-p-mobile {
    text-align: center;
    font-family: 'Helvetica';
    font-size: 16px;
    width: 100%;
}


.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 10;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}


.modal {
    height: 60vh;
    min-height: 488px;
    width: 60vw;
    background-color: var(--primary-colour);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 13;
    display: none;
    flex-direction: row;
    justify-content: space-between;
    border-radius: var(--cards-border-radius);
}

.modal-image-div {
    height: 100%;
    width: 44%;
}

.modal-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: bottom;
    border-radius: var(--cards-border-radius) 0 0 var(--cards-border-radius);
}

.modal-text {
    width: 66%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    color: var(--secondary-accent-colour);
    margin: 0 36px 0 36px;

}

#modal-close-button {
    position: absolute;
    top: 4px;
    right: 12px;
    font-size: 36px;
    cursor: pointer;
    z-index: 14;
}

.modal-h2 {
    text-align: center;
    margin-bottom: -8px;
    font-family: 'Helvetica';
    font-weight: 300;
    font-style: italic;
    width: 100%;

}

.modal-p {
    text-align: center;
    font-family: 'EBGaramond';
    color: var(--font-black);
    font-size: var(--p1);
    line-height: 208%;
    width: 100%;
    max-width: 248px;
}

.form-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.form-modal input {
    width: 100%;
    max-width: 336px;
    height: 64px;
    padding: 12px 22px;
    margin-bottom: 16px;
    border: 1px solid var(--secondary-accent-colour);
    border-radius: var(--cards-border-radius);
    font-size: var(--p1);
    font-family: var(--font-1);
    transition: border-color 0.3s;
    box-sizing: border-box;
}

.form-modal input:focus {
    outline: none;
}

.subscribe-btn-and-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.text-unsubscribe {
    color: var(--font-black);
    font-family: var(--font-1);
    font-size: var(--p2);
    text-align: center;
}


.modal-button-CTA {
    font-size: var(--p1);
    padding: 16px 32px;
    width: fit-content;
    height: fit-content;
    border-radius: 48px;
    background-color: var(--secondary-accent-colour);
    color: var(--font-white);
    border: 0px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}


.modal-button-CTA:active {
    transform: scale(0.98);
}

.modal-button-CTA:hover {
    background-color: var(--secondary-accent-colour-hover);
}

.button-phone {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--secondary-colour);
    border-radius: 50%;
    padding: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 8;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.2s ease;

}

.button-phone svg {
    width: 30px;
    height: 30px;
}

.button-phone:hover {
    background-color: var(--secondary-colour-hover);
}

.button-phone:active {
    transform: scale(0.98);
}



@media (min-width: 1600px) {
    :root {
        --card-food-width: calc((var(--container-max-width)*0.9)/6);
        --card-food-gap: calc((var(--container-max-width)*0.1)/5);
        --card-reviews-width: calc((var(--container-max-width)*0.95)/4);
        --card-reviews-gap: calc((var(--container-max-width)*0.05)/3);

        --card-menu-page-width: calc((var(--container-max-width)*0.9)/6);
        --card-menu-page-gap: calc((var(--container-max-width)*0.1)/5);

        --masonry-gap: calc((var(--container-max-width)*0.1)/4);
        --masonry-brick-width: calc((var(--container-max-width)*0.9)/5);
    }

    .cards-nav {
        margin: 0 calc(50vw - var(--container-max-width)/2);
    }

    #cards-spacer-reviews {
        width: calc(50vw - var(--container-max-width)/2 - var(--card-reviews-gap));
    }

    .card-review {
        scroll-margin-left: calc(50vw - var(--container-max-width)/2);
    }



}


@media (max-width: 1279px) {
    :root {
        --h1: 76px;
        --h2: 61px;
        --h3: 49px;
        --h4: 25px;
        --h5: 20px;
        --h6: 20px;
        --p1: 20px;
        --p2: 16px;
        --p3: 13px;

        --card-food-width: calc((var(--container-width)*0.9)/4);
        --card-food-gap: calc((var(--container-width)*0.1)/3);
        --card-reviews-width: calc((var(--container-width)*0.95)/3);
        --card-reviews-gap: calc((var(--container-width)*0.05)/2);

        --card-menu-page-width: calc((var(--container-width)*0.9)/4);
        --card-menu-page-gap: calc((var(--container-width)*0.1)/3);

        --masonry-gap: calc((var(--container-width)*0.1)/3);
        --masonry-brick-width: calc((var(--container-width)*0.9)/4);
    }

    #card-feature-food:nth-child(n+9) {
        display: none;
    }

    .gallery img:nth-child(n+9) {
        display: none;
    }

    .modal-p {
        line-height: 208%;
    }

    .modal-text {
        gap: 24px;
    }

    .form-modal {
        gap: 16px;
    }

    .subscribe-btn-and-text {
        gap: 16px;
    }


    /*-----------------------------------------------------------------------*/
    .container-menu {
        margin-top: -8px;
    }

    .container-category {
        gap: 24px;
    }

    .container-menu-page-time-cards {
        gap: 48px;
    }

    .description-menu {
        margin-top: 0;
        margin-bottom: -20px;
    }

}

@media (max-width: 775px) {
    :root {
        --h1: 61px;
        --h2: 49px;
        --h3: 39px;
        --h4: 25px;
        --h5: 20px;
        --h6: 20px;
        --p1: 20px;
        --p2: 16px;
        --p3: 13px;

        --card-food-width: calc((var(--container-width)*0.9)/3);
        --card-food-gap: calc((var(--container-width)*0.1)/2);
        --card-reviews-width: calc((var(--container-width)*0.95)/2);
        --card-reviews-gap: calc((var(--container-width)*0.05)/1);

        --card-menu-page-width: calc((var(--container-width)*0.95)/3);
        --card-menu-page-gap: calc((var(--container-width)*0.05)/2);

        --masonry-gap: calc((var(--container-width)*0.05)/2);
        --masonry-brick-width: calc((var(--container-width)*0.95)/3);
    }

    #modal-mobile {
        display: none;
    }

    .modal {
        height: 60vh;
        width: 80vw;


    }

    .modal-p {
        line-height: 140%;
    }

    .modal-text {
        gap: 24px;
    }

    .form-modal {
        gap: 16px;
    }

    .subscribe-btn-and-text {
        gap: 16px;
    }

    .modal-button-CTA {
        font-size: var(--p2);
    }

    .text-unsubscribe {
        font-size: var(--p3);
    }

    .form-modal input {
        padding: 12px 12px;
        font-size: var(--p2);
    }

    .navbar {
        padding: 8px 20px;

    }

    .gallery img:nth-child(n+7) {
        display: none;
    }

    .container-hero {
        gap: 36px;
    }

    .container-cards {
        gap: 20px;
    }

    .cards-nav {
        flex-direction: column;
        gap: 16px;
        align-items: center;
    }

    #card-feature-food:nth-child(n+7) {
        display: none;
    }

    .columns-footer-top-row {
        grid-template-columns: 1fr 1fr;
    }

    #column-business-hours {
        display: none;
    }

    /*-----------------------------------------------------------------------*/
    .container-menu {
        margin-top: -8px;
    }

    .container-category {
        gap: 20px;
    }

    .container-menu-page-time-cards {
        gap: 48px;
    }

    /*-----------------------------------------------------------------------*/
    .columns-contact {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }

    .column-contact-left {
        margin-right: 0;
    }

    .column-contact-right {
        display: none;

    }

    .nav-links {
        display: none;
    }

    .hamburger {
        display: flex;
    }

    .mobile-menu {
        display: flex;
    }

    /*-----------------------------------------------------------------------*/
    /* Hamburger active state - transforms into a cross */
    .hamburger.active .line1 {
        transform: translateY(10px) rotate(45deg);
    }

    .hamburger.active .line2 {
        opacity: 0;
    }

    .hamburger.active .line3 {
        transform: translateY(-10px) rotate(-45deg);
    }
}

@media (max-width: 480px) {
    :root {
        --h1: 49px;
        --h2: 39px;
        --h3: 31px;
        --h4: 20px;
        --h5: 20px;
        --h6: 16px;
        --p1: 16px;
        --p2: 14px;
        --p3: 10px;

        --container-spacing-vertical: 44px;

        --nav-bar-height: 48px;

        --card-food-width: calc((var(--container-width)*0.95)/2);
        --card-food-gap: calc((var(--container-width)*0.05)/1);
        --card-reviews-width: calc((var(--container-width)*0.95)/1);
        --card-reviews-gap: calc((var(--container-width)*0.05)/1);

        --card-menu-page-width: calc((var(--container-width)*0.95)/2);
        --card-menu-page-gap: calc((var(--container-width)*0.05)/1);

        --masonry-gap: calc((var(--container-width-2)*0.02)/1);
        --masonry-brick-width: calc((var(--container-width-2)*0.98)/2);
    }

    .masonry {
        width: var(--container-width-2);
    }

    #modal-mobile {
        display: none;
    }

    .overlay {
        display: none;
    }

    .modal {
        display: none;
    }

    .mobile-menu {
        width: 101vw;
        right: -101vw;
    }

    .button-phone {
        display: block;
    }

    .container-hero {
        gap: 20px;
        padding: 28px var(--container-spacing-horizontal-2);
    }

    .columns-hero {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }


    .column-hero-left img {
        height: 180px;
    }

    .column-hero-right {
        align-items: center;
        margin-left: 0;
    }

    .container-about {
        gap: 20px;
        padding: calc(var(--container-spacing-vertical) - 8px) var(--container-spacing-horizontal-2) var(--container-spacing-vertical) var(--container-spacing-horizontal-2);

    }

    .about-image {
        margin-bottom: 8px;
    }

    .container-cards {
        gap: 16px;
    }

    .gallery img:nth-child(n+5) {
        display: none;
    }

    .lightbox-image-and-btns {
        height: 100%;
        min-height: 0;
        max-height: 100%;
    }

    .lightbox-nav-btn {
        display: none;
    }

    .close-button {
        width: var(--container-width-2);
    }

    .menu-btns {
        width: var(--container-width);
        justify-content: space-between;
        gap: 0;
    }

    .container-menu-cards {
        margin: 4px 0px;
    }

    #card-feature-food:nth-child(n+5) {
        display: none;
    }

    .card-food h5 {
        font-size: var(--p1);
    }

    .text-food {
        padding: 12px 12px 16px 12px;
    }

    .food-name-description {
        font-size: var(--p2);
    }

    .cards-nav {
        gap: 16px;
    }

    .slider-btns {
        display: none;
    }

    .slider {
        margin-top: 8px;
    }

    .text-review-source {
        font-size: var(--p2);
    }

    .columns-footer-top-row {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        width: fit-content;
    }

    .column-footer-top-row {
        justify-content: flex-start;
    }

    .columns-footer-bottom-row {
        display: flex;
        flex-direction: column;
        gap: 36px;

    }

    .p-contact {
        word-break: break-all;
    }



    /*-----------------------------------------------------------------------*/
    .container-menu {
        margin-top: -4px;
    }

    .container-category {
        gap: 16px;
    }

    .container-menu-page-time-cards {
        gap: 40px;
    }


}